/0_origin_data/
/1_prepare_data/
/3_code/methods/analyse/
/3_code/methods/BiRW/
/3_code/methods/Cipher/
/3_code/methods/DK/
/3_code/methods/IDLP_GradientDescent/
/3_code/methods/MINProp/
/3_code/methods/PRINCE/
/3_code/methods/PRINCE_Initialization/
/3_code/methods/RWR/
/3_code/methods/RWRH/
*.mat
!/2_useful_data/G_P_network_exist_old_mappingkey13_2015_8&2016_12.mat
*.pdf
*.asv
*.m~
*.xlsx

